* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background-color: #d5d5d5;
}

img {
    height: 200px;
    width: 250px;
    margin-left: 200px;

}

p {
    font-size: larger;
    font-weight: 500;

    margin-left: 200px;
    line-height: 2px;
    margin-bottom: 5px;



}

form {
    background-color: white;
    position: absolute;
    width: 350px;
    height: 300px;
    padding: 10px 5px 20px 5px;
    margin: -0vh 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;

}

.pass {
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 250px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.Email-or {
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 250px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;


    font-size: 15px;
}

.f-pws {
    display: block;
    text-align: center;
}

.line {
    border-top: 1px solid black;
    opacity: 0.2;
}



button {
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.sublink h3 {
    width: 1000x;
    position: relative;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 300px 850px;
    font-size: 20px;
    font-weight: 500;
    display: inline;

}

.btn2 {

    background-color: #42b72a;
    width: 200px;
    padding: 20 px;
    height: 30 px;
}

.f-container {
    width: 350px;
    margin-left: 300px;
    margin-top: 30vh;
    font-family: Arial, Helvetica, sans-serif;
}

.sublink {

    line-height: 17px;
    margin-top: 18vh;
}