.red {
    color: red;
}

.yellow {
    color: aqua;
}

.Orange {
    color: red;
}

.blue {
    color: red;
}

.first {
    background-color: palegoldenrod;
    border-radius: 25px;
    font-size: xx-large;

}

.second {
    background-color: pink;
    color: red;
    border-radius: 25px;
    font-size: xx-large;
    text-decoration: none;
}

.A {
    background-color: pink;
    font-size: xx-large;
    padding: 10px;
    color: blue;
    border-radius: 25px;
    margin: 25px;
}

.B {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
}

.C {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.D {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
}

.E {

    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
}

.F {

    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.G {

    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.H {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.I {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.J {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.K {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.L {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
}

.M {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
}

.N {

    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.O {

    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.P {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.Q {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.R {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.S {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.T {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.U {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.V {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.W {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.X {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.Y {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;


}

.Z {
    background-color: pink;
    font-size: xx-large;
    color: blue;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;

}

.form {
    background-color: aqua;
    border-radius: 25px;
    padding: 10px;

}

.Top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: red;
    padding: 20px;
    border-radius: 20px;
}